.body1{
	font-family: Arial;
	font-size: 12pt;
}

.body2{
	p{
		font-family: Arial;
		color: black;
	}

	h1{
		text-decoration: underline;
		font-family: Verdana;
		color: green;
	}

	h3{
		font-style: italic;
		font-family: "Comic Sans";
		color: purple;
	}
}

body{
	font-family: Arial;
	color: black;
}

#id1{
	font-family: Verdana;
	color: blue;
}

.classeA{
	font-family: Tahoma;
	color: #333333;
}